<mat-toolbar>
  <span>{{ module.name }} Module</span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="permissions[0].value">{{ permissions[0].name }}</button>
</mat-toolbar>
<mat-divider />
<div class="container">
  <mat-card class="card" *ngFor="let item of permissions; let i = index">
    <mat-card-header class="header">
      <mat-card-title>Application-{{ i + 1 }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-flat-button color="accent" *ngIf="permissions.at(-1)?.value">Review Application</button>
    </mat-card-content>
  </mat-card>
</div>
