<mat-toolbar color="primary" class="mat-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Permission Management</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list class="nav-list">
      <ng-container *ngFor="let navLink of navLinks">
        <mat-list-item routerLinkActive="active" *ngIf="hasPermission(navLink.link)">
          <a
            class="nav-link"
            [routerLink]="navLink.link"
            routerLinkActive="active-link"
            (click)="onNavigate()"
          >
            <mat-icon>{{ navLink.icon }}</mat-icon
            >{{ navLink.link | titlecase }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
