<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Permission Management</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="permissions" routerLinkActive="active-link">
          <mat-icon>grading</mat-icon>Permissions
        </a>
      </mat-list-item>

      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="job" routerLinkActive="active-link"><mat-icon>work</mat-icon>Job</a>
      </mat-list-item>

      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="candidate" routerLinkActive="active-link">
          <mat-icon>person</mat-icon>Candidate
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="settings" routerLinkActive="active-link">
          <mat-icon>settings</mat-icon> Settings
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="reports" routerLinkActive="active-link">
          <mat-icon>book</mat-icon>Reports
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="hire" routerLinkActive="active-link">
          <mat-icon>handshake</mat-icon>Hire
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a class="nav-link" routerLink="department" routerLinkActive="active-link">
          <mat-icon>add_task</mat-icon>Department
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
